<!-- tutorial video: https://www.youtube.com/watch?v=4deVCNJq3qc -->
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello_Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        .base__email__input--red {
            border: 3px solid red;
        }

        .base__email__input--green {
            border: 3px solid green;
        }
    </style>
</head>

<body>

    <div class="base">

        <!-- VueJS model tests -->
        <h1 class="base__title">
            : {{ hello }}
        </h1>

        <input class="base__input" v-model="hello">

        <div class="base__response-1" v-if="hello === 'test'">
            <p class="base__response-1__text" >test zurück!</p>
        </div>

        <div class="base__response-2" v-else-if="hello === 'hallo'">
            <p class="base__response-2__text" >Selber Hallo</p>
        </div>

        <div class="base__response-default" v-else>
            <p class="base__response-default__text" >teste das Input Feld!</p>
        </div>

        <!-- is always beeing generated just with display: none -->
        <div class="base__show" v-show="hello === 'Ey'">
            <p class="base__show__text" >{{ hello }}</p>
        </div>

        <div class="base__email" >
            <input class="base__email__input" v-model="input" :class="[input.includes('@') ? 'base__email__input--green' : 'base__email__input--red']">
            <button class="base__email__submit" v-on:click="alert_send" :disabled="!input.includes('@')">Click Me!</button>
            <p class="base__email__information" v-show="!input.includes('@')">Your E-Mail Adress needs to have an @ in it.</p>
        </div>

    </div>

    <script>
        new Vue({
            el: '.base',
            data: {
                hello: 'Hello Vue',
                input: ''
            },
            methods: {
                alertSend: function (event) {
                    alert("email sent to: " + this.input)
                }
            }
        })
    </script>

</body>

</html>