<!-- tutorial video: https://www.youtube.com/watch?v=4deVCNJq3qc -->
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello_Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        .base__email__input--red {
            border: 3px solid red;
        }

        .base__email__input--green {
            border: 3px solid green;
        }
    </style>
</head>

<body>

    <div class="base">

        <!-- VueJS model tests -->
        <h1 class="base__title">
            : {{ hello }}
        </h1>

        <input class="base__input" v-model="hello">

        <div class="base__response-1" v-if="hello === 'test'">
            <p class="base__response-1__text" >test zurück!</p>
        </div>

        <div class="base__response-2" v-else-if="hello === 'hallo'">
            <p class="base__response-2__text" >Selber Hallo</p>
        </div>

        <div class="base__response-default" v-else>
            <p class="base__response-default__text" >teste das Input Feld!</p>
        </div>

        <!-- is always beeing generated just with display: none -->
        <div class="base__show" v-show="hello === 'Ey'">
            <p class="base__show__text" >{{ hello }}</p>
        </div>

        <div class="base__email" >
            <input class="base__email__input" v-model="input" :class="[input.includes('@') ? 'base__email__input--green' : 'base__email__input--red']">
            <button class="base__email__submit" v-on:click="alertSend" :disabled="!input.includes('@')">Click Me!</button>
            <p class="base__email__information" v-show="!input.includes('@')">Your E-Mail Adress needs to have an @ in it.</p>
        </div>

        <!-- for loop with list -->
        <div class="base__names">
            <ul>
                <li class="base__names__name" v-for="name in names">{{ name }}</li>
            </ul>
        </div>

        <!-- for loop with objects -->
        <div class="base__persons">
            <ul>
                <li class="base__persons__summary" v-for="person in persons">{{ person.name }} ist {{ person.age }} Jahr alt.</li>
                <li class="base__persons__summary" >{{ previewPerson }}</li>
            </ul>
        </div>

        <div class="base__add-person">
            <h3>Neue Person hinzufügen</h3>
            <input class="base__add-person__name" v-model="newName" v-on:keyup.enter="addPerson">
            <input class="base__add-person__age" v-model="newAge" v-on:keyup.enter="addPerson">
            <button v-on:click="addPerson" >Hinzufügen</button>
        </div>

    </div>



    <script>
        new Vue({
            el: '.base',
            data: {
                hello: 'Hello Vue',
                input: '',
                names: ['John', 'Alf', 'Freddy', 'Josh', 'Gandalf'],
                persons: [{name: 'John', age: 18}, {name: 'Alf', age: 230}, {name: 'Freddy', age: 34}, {name: 'Josh', age: 12}, {name: 'Gandalf', age: 2}],
                newName: '...',
                newAge: '...'
            },
            methods: {
                alertSend: function (event) {
                    alert("email sent to: " + this.input)
                },
                addPerson: function () {
                    if(!this.newName == '...' && !this.newAge == '...'){
                        this.persons.push({name: this.newName, age: this.newAge})
                        this.newAge = '...'; this.newName = '...'
                    }
                    else{
                        alert("a name and age is required!")
                    }
                }
            },
            computed: {
                previewPerson: function() {
                    if(this.newName != '...' || this.newAge != '...'){
                        return this.newName + " ist " + this.newAge + " Jahre alt."
                    }
                }
            }
        })
    </script>

</body>

</html>